@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}

.parent-div {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.link-tag {
  text-decoration: none;
  color: white !important;
  background-color: #cd5438;
  padding: 1rem 0.5rem;
  border-radius: 0.75rem;
  font-size: 1rem;
}

.link-tag:hover {
  background-color: #d91604 !important;
}

button {
  border: none;
  color: white !important;
  background-color: #cd5438;
  padding: 1rem 0.5rem;
  border-radius: 0.75rem;
  font-size: 1rem;
}

button:hover {
  background-color: #d91604 !important;
}

input {
  padding: 1rem 0.5rem;
  border-radius: 0.75rem;
  font-size: 1rem;
}
