.score-wrapper {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-top: 3rem;
  font-weight: 1000;
}

.score-table {
  text-align: center;
  width: 80%;
  border: 1px solid black;
}

tr,
th,
td {
  border: 1px solid black;
  padding: 0.75rem;
}

th {
  background-color: rgb(43, 43, 43);
  color: white;
}
